.pe-toolbar {
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;  
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 5px 0;
}