<header class="topbar">

  <span class="logo">
    <a href="/">
      <img ngSrc="logos/logoipsum-cat.svg"
           height="41" width="67"
           alt="Placeholder logo"
      >
    </a>
  </span>

  <span class="projName">
    <!-- TODO: When edited, save new project name -->
    <p>
      @if (isEditable) {
        <input
          type="text"
          #nameInput
          [value]="projectName"
          (blur)="doneEditing(nameInput.value)"
          (keydown)="onKeyPress($event, nameInput.value)"
          autofocus
          />
      } @else {
        <label (click)="startEditing()">
          <b style="cursor: text">{{ projectName }}</b>
        </label>
      }
    </p>
  </span>

 <span class="dropdown">
   <dropdown> </dropdown>
 </span>

</header>

